header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 17px;
}

.nav-links>li>a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

.nav-links>li>a:hover {
    color: hsl(26, 100%, 55%);
}

hr {
    width: 1200px;
}

.main-content {
    display: flex;

}

.image-section {
    margin-left: 150px;
    margin-top: 50px;
}

.image-product {
    width: 450px;
    height: 500px;
    border-radius: 15px;
    ;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.infos-section {
    margin-left: 150px;
    margin-top: 50px;
}

.infos h1 {
    font-size: 40px;
    color: black;
    margin-top: 0;
}

.infos p {
    font-size: 20px;
    color: hsl(219, 9%, 45%);
    line-height: 30px;
    margin-bottom: 50px;
}

.price p {
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin: 0;
}

.price h5 {
    font-size: 20px;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
    line-height: 50px;
    margin: 0;
}

.reduce-price {
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

.add-to-cart {
    width: 300px;
    background-color: hsl(26, 100%, 55%);
    color: black;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.add-to-cart:hover {
    background-color: hsl(26, 100%, 65%);
}

.cart-icon{
    color: black;
    margin-right: 20px;
}